/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

/*General*/
.text-center {
	text-align :center;
}

.wrapper {
	max-width: 1000px;
	display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.center {
	margin: auto;
	width: 50%;
}

table, th, td {
	border: 2px solid;
}

.vertical-margin {
	margin: 1em 0 1em 0;
}

.rounded {
  padding:10px;
  border-radius:10px;
}

.container {
	background-color: #70bbcf;
	width: 500px;
	height: auto;
	margin: auto;
}

	
#calculator-btns {
	display: grid;
	grid-template-columns: auto auto auto auto;
	background-color: #70bbcf;
	max-width: 85%;
	margin: auto;
	padding-bottom: 2em;
}

.grid-item {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 20px;
	font-size: 30px;
	text-align: center;
	margin: 5px;
	border-radius: 25px;
	box-shadow: 2px 2px #888888;
}

.full-column {
	grid-column-start: 1;
	grid-column-end: 5;
	margin-bottom: 0.8em;
}

.two-column {
	grid-column-start: 1;
	grid-column-end: 3;
}

.calculate {
	grid-row: 4 / span 2;;
	grid-column: 4;
	display: flex;
    align-items: center;
    justify-content: center;
}

.rounded-border {
	border-radius: 25px;
}

h1 {
	margin-bottom: 1em;
	text-align: center;
	background-color: #70bbcf;
	padding: 1em;
	width: 500px;
	margin: 0em auto 1em auto;
	text-shadow: -1px 0 #e2f1f5, 0 1px #e2f1f5, 1px 0 #e2f1f5, 0 -1px #e2f1f5;
}

.margin-top {
	margin-top: 3em;
}

#output {
	margin: 1em;
	box-shadow: none;
	display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
}


button:hover {
	background-color: #E9967A;
	box-shadow: none;
}

.previous-operand {
	font-size: 20px;
}